<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/home']">HOME</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/about']">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/footer']">Contactame</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/producto/list']" tabindex="-1" aria-disabled="true">Mis productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/register']" tabindex="-1" aria-disabled="true">Registrarme</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']" tabindex="-1" aria-disabled="true">Entrar</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>