<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span>MIS PRODUCTOS</span>
                    <button class="btn btn-success float-end" routerLink="/producto/create">Nuevo</button>
                    <table class="table mt-5">
                        <thead class="table-dark">
                         <tr>
                             <th scope="col">ID</th>
                             <th scope="col">Nombre</th>
                             <th scope="col">Categoría</th>
                             <th scope="col">Presentación</th>
                             <th scope="col">Precio</th>
                             <th scope="col">Acciones</th>
                         </tr>
                        </thead>
                        <tbody>
                          <tr>
                              <th scope="col">1</th>
                              <td>nombre 1</td>
                              <td>categoria 1</td>
                              <td>presentacion1</td>
                              <td>precio</td>
                          </tr>
                          <tr>
                            <th scope="col">2</th>
                            <td>nombre 2</td>
                            <td>categoria 2</td>
                            <td>presentacion2</td>
                            <td>precio</td>
                        </tr>
                        <tr>
                            <th scope="col">3</th>
                            <td>nombre 3</td>
                            <td>categoria 3</td>
                            <td>presentacion3</td>
                            <td>precio</td>
                        </tr>
                        <tr>
                            <th scope="col">4</th>
                            <td>nombre 4</td>
                            <td>categoria 4</td>
                            <td>presentacion4</td>
                            <td>precio</td>
                        </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>