<div class="text-center">
    <h1><strong>Daniel Hernandez Cruz</strong> </h1>
</div>
<p></p>
<div class="login-one-form">
    <div class="login-one-ico">
        <img src="assets/images/yop.jpg" alt="" width="300px">
    </div>
</div>
<div class="text-center container-fluid">
    <p>
        Aquí se supone que debe de ir algo bien super chingon sobre mi 
        para que digan "ah nmms está wey está perro porque se chutó solo esta pagina mamalona,
        lo recomendaré en google o en amazon, está bien perro el bato". Y aparte esta bien buapo el hijuesuchingadamadre. ❤😍
    </p>
    
</div>